[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
views = "python ./fetch_posts.py"

[packages]
beautifulsoup4 = "*"
feedparser = "*"
requests = "*"
python-frontmatter = "*"

[dev-packages]

[requires]
python_version = "3.9"
