#title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    #title {
        align-items: center;
        flex-direction: column;
    }
}

.strava-mdx-embed {
    margin: 0 auto;
}

blockquote {
    border-left: 3px solid lightgrey;
    padding-left: 1em;
}